| Hi #{user.fullName},
|
| The admin team has got back to your contact submission. Here are the details:
|
| Original Message sent on #{messageDate} at #{messageTime}:
| #{message}
|
| Admin Reply sent on #{replyDate} at #{replyTime}:
| #{reply}
|
| Thanks,
| TopProp Team
