html
    head
        link(rel="stylesheet", href="../styles/styles.css", data-inline)
    body
        p Hi #{loserUser.fullName},
        p
        p Sorry,
        p You have lost the contest.
        p Opponent: #{loserUser.fullName}
        p Your Player : #{winnerPlayer.fullName}
        p Opponent Player: #{loserPlayer.fullName}
        p Net Earnings: #{netEarnings}
        br
        p Thanks,
        p TopProp Team
