| Hi #{loserUser.fullName},
|
| Sorry,
| You have lost the contest.
| Opponent: #{loserUser.fullName}
| Your Team : #{winnerTeam.name}
| Opponent Team: #{loserTeam.name}
| Net Earnings: #{c2d(Number(netEarnings))}
|
|
| Thanks for playing and see you next week,
| TopProp Team
