| Hi admin,
|
| There was an issue processing a subscription payment.
|
| Here are the details:
| User: #{user.fullName} (#{user.username})
| Plan: #{plan}
| Amount Remaining: #{amountRemaining}
| Link: #{link}
|
| Thanks,
| TopProp Team
