| Hi #{loserUser.fullName},
|
| Sorry,
| You have lost the contest.
| Opponent: #{loserUser.fullName}
| Your Player : #{winnerPlayer.fullName}
| Opponent Player: #{loserPlayer.fullName}
| Net Earnings: #{netEarnings}
|
|
| Thanks for playing and see you next week,
| TopProp Team